
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
    background: #68A3FF;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
}
.time-box{
    background: #7f8fa6;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background: #fff;
    border: 5px solid #DEDCDC;
    box-shadow: 0 1px 15px rgba(0,0,0,.4);
    position: relative;
    padding: 40px;
}
.time-box:before{
    content: '';
    position: absolute;
    border: 25px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 25px inset rgba(0,0,0,.1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.time-box .center-point{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    z-index: 99;
}

.time-box .needle{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f5f6fa;
    transform: translateY(-50%);
    transform-origin: left;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    border-radius: 10px;
    transition: 1s linear;
}
.time-box .needle.hour{
    width: 15%;
    height: 10px;
    background: #858486;
}

.time-box .needle.min{
    width: 22%;
    height: 6px;
    background: #a5a5a5;
}
.time-box .needle.sec{
    background: #E47173;
    width: 30%;
    height: 2px;
}

.time-box .plate{
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    color: #666;
    text-shadow: 0 0 5px rgba(0,0,0,.5);
    font-size: 25px;
    z-index: 1;
}
.time-box .plate span{
    position: absolute;
    transform: translateX(-30%);
}
