*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background: #DEDEDE;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    outline: none;
    box-shadow: 0 10px 15px rgba(0,0,0,.5);
    transition: .5s;
    cursor: pointer;
    font-size: 1.1rem;
    position: relative;
    border: 4px solid #f1f1f1;
    background: linear-gradient(0deg,#ddd,#fff);
}
.btn .fa{
    background: linear-gradient(0deg,#fff,#ddd);
}
section .btn:hover{
    transition: .5s;
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    color: #ef6969;
}
section .btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 15px inset rgba(0,0,0,.1);
}